.nav{
    background-color: blueviolet;
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 300px 12fr 150px 150px;
    align-items: center;
    position: absolute;
    width: 100%;
}

.nav .nav-item{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.nav .nav-logo{
    font-size: 14px;
    font-weight: bold;
}